<div class="tooltip-example">

      <button tooltip="tootip on top" placement="top" visibility="show" delay="500" >Button A</button>
      <!-- <button tooltip="tootip on top" placement="top" visibility="hide" delay="500" >tootip on top</button> -->

</div>

<div class="tooltip-example">

      <button tooltip="tootip on top" placement="top" visibility="hide" delay="500" >Button B</button>
      <!-- <button tooltip="tootip on top" placement="top" visibility="hide" delay="500" >tootip on top</button> -->

</div>